@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

 
 * {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
 }
 
#body {
     display: grid;
     place-items: center;
     height: 100vh;


     background: url('./img/pexels-photo-2387793.jpeg') no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

#msg {
    background-color: black;
    background-size: cover;
}


/*Format the form*/
form {
    display: flex;
    flex-direction: column;
}

label {
    color: whitesmoke;
    font-size: 2rem;
}

input, textarea {
    height: 60px;
    width: 600px;

    margin: 10px;

    border: 2px solid whitesmoke;
    background: none;

    font-size: 1.5rem;
    color: whitesmoke;
    padding: 0.1rem 1rem ;
}

#inputMessage {
    height: 200px;
    display: flex;
}

#inputSubmit {
    margin-left: 30px;
}

input:focus, textarea:focus, input:hover, textarea:hover {
    background-color: rgba(245, 245, 245, 0.51);

    color: black;
    font-weight: 700;
}


/*Style for footer*/
footer {
    color: whitesmoke;
    align-self: flex-end;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

footer h3 {
    font-size: 2rem;
}

footer h2 {
    font-size: 3rem;
}
